<div class="events" data-controller="directions" data-toggle-target="events" data-action="order-updated@window->directions#showDirections order-updated@window->maps#updateMarkers">
  <p id="transport" data-action="click->directions#showDirections" style="text-align: right"><i class="fa-solid fa-van-shuttle"></i></p>
  <ul
    data-controller="sortable"
    data-sortable-resource-name-value="event"
    data-sortable-handle-value=".handle"
    data-action="order-updated@window->sortable#updatePositions">
  <% events.each_with_index do |event, index| %>
    <%= render "event", event: event, index: index %>
  <% end %>
  </ul>
</div>
