<div class="events" data-controller="directions" data-toggle-target="events" data-action="order-updated@window->directions#showDirections order-updated@window->maps#updateMarkers">
  <div class="icons">
    <span title="See travel times" class="icon" data-action="click->directions#showDirections" style="text-align: right"><i class="fa-solid fa-van-shuttle"></i></span>
    <span title="See all days" class="icon" style="text-align: right"><i class="fa-solid fa-calendar-days"></i></span>
  </div>
  <ul
    data-controller="sortable"
    data-sortable-resource-name-value="event"
    data-sortable-handle-value=".handle"
    data-action="order-updated@window->sortable#updatePositions">
  <% events.each_with_index do |event, index| %>
    <%= render "event", event: event, index: index %>
  <% end %>
  </ul>
</div>
