// Specific CSS for your home-page
.banner {
  height: 100vh;
  background-size: cover;
  background-color: white;
  opacity: 1;
  background-image: radial-gradient(#4E6E81 0.55px, white 0.55px);
  background-size: 11px 11px;
}

.container {
  padding-top: 30px;
}

.form-container {
  width: 600px;
  margin: 0 auto;
}

#welcome {
  font-family: 'Raleway', sans-serif;
  font-size: 110px;
  color: #ea523b;
  text-align: center;
}
