.background {
  height: 100%;
  padding-bottom: 50px;
  background-size: cover;
  background-color: #e8e8e8;
  opacity: 1;
  background-image: radial-gradient(#EF7462 0.55px, #e8e8e8 0.55px);
  background-size: 11px 11px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
