
.trip-overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.trip-content {
  margin-left: 30px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.events {
  background-color: white;
  padding: 20px;
  border: 2px solid var(--red-light);
}

.event-details {
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--white);
}

.event p {
  margin: 0;
}

.tabs {
  display: flex;
}

.tab {
  padding: 10px;
  background-color: white;
  // border: 2px solid var(--red-light);
  margin: 0;
}

.tab-active {
  background-color: var(--red-light);
}

.event-directions {
  display: flex;
}

.direction {
  padding: 10px;
  padding-top: 0px;
}

#map {
  height: 100vh;
}
