.trips-box {
  display: flex;
  flex-direction: column;
  opacity: 1;
  background-image: radial-gradient(var(--red) 0.5px, #ffffff 0.5px);
  background-size: 10px 10px;
  border-radius: 50px;
  padding: 30px 10px;
  margin: 30px;

  h1, h2, h3 {
    text-align: center;
  }
}
