.trip-overview {
  display: flex;
}

.trip-content {
  width: 50%;
}

.events {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--red-light);
}

.event {
  border: 1px solid black;
  border-radius: 20px ;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--white);
}

.event p {
  margin: 0;
}

.tabs {
  display: flex;
}

.tab {
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid var(--red-light)
}

.tab-active {
  background-color: var(--red-light);
}

#map {
  width: 50%;
  height: 100vh;
  border: 1px solid black;
}
