<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col"></div>

    <div class="col-6">
      <!-- Button trigger modal -->
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Add Flight Details
      </button>
      <!-- Modal -->
      <%= render "flights/modal", trip: @trip, flight: @flight %>
    </div>

    <div class="col"></div>
  </div>
</div>
