<% recommendations.each do |category, events| %>
  <% if events != [] %>
    <h1><%= category.gsub("_", " ").capitalize %></h1>
    <div class="recommendation-container">
      <% events.each do |event| %>
        <%= render "recommendation_infos", trip: @trip, event: event %>
      <% end %>
    </div>
  <% end %>
<% end %>
