<div class="container">
  <div>
    <h1>Hello explorer! Choose some recommendations to get started.</h1>
    <p>If you're new to this city, there's a good chance that you aren't familiar with its attractions. So we've gone ahead and picked out a few places that most people are interested in. Select as many or as little as you like, and we'll populate the rest of your trip for you.</p>
  </div>
    <%= render "recommendation_list", recommendations: @recommendations %>
</div>
