<div class="container">
  <div>
    <h1>Hello explorer! Choose some recommendations to get started.</h1>
    <p>If you're new to this city, there's a good chance that you aren't familiar with its attractions. So we've gone ahead and picked out a few places that most people are interested in. Select as many or as little as you like, and we'll populate the rest for you.</p>
  </div>
  <% @recommendations.each do |category, places| %>
    <% if places != [] %>
      <h1><%= category.gsub("_", " ").capitalize %></h1>
      <div class="recommendation-container">
        <% places.each do |place| %>
          <%= render "recommendation_infos", trip: @trip, place: place, event: @event %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
