.recommendation-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  margin-bottom: 40px;
  padding: 0;
}

.super-recommendation-card-holder {
  margin-bottom: 20px;
  height: 500px;
  width: 270px;
}

.recommendation-card-holder {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.recommendation-card-holder.isflipped {
  transform: rotateY(180deg);
}

.recommendation-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: all ease 0.5s;
}

// .recommendation-card:hover {
//   transform: scale(1.02);
// }

.recommendation-card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  transform: rotateY(180deg);
}

.recommendation-card-food {
  background-color: #e8e8e8;
  opacity: 1;
  background-size: 6px 6px;
  background-image: repeating-linear-gradient(45deg, #ecd4cb 0, #ecd4cb 0.6000000000000001px, #e8e8e8 0, #e8e8e8 50%);
}

.recommendation-card-shopping {
  background-color: #e8e8e8;
  opacity: 1;
  background-image:  linear-gradient(135deg, #cae2c9 25%, transparent 25%), linear-gradient(225deg, #cae2c9 25%, transparent 25%), linear-gradient(45deg, #cae2c9 25%, transparent 25%), linear-gradient(315deg, #cae2c9 25%, #e8e8e8 25%);
  background-position:  6px 0, 6px 0, 0 0, 0 0;
  background-size: 12px 12px;
  background-repeat: repeat;
}

.recommendation-card-attraction {
  background-color: #e8e8e8;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e8e8e8 6px ), repeating-linear-gradient( #c6def555, #c6def5 );
}

.recommendation-card-holder img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.recommendation-card h2 {
  font-family: 'Raleway', sans-serif;
  color: darkslategrey;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.recommendation-card p {
  color: darkslategrey;
  font-size: 14px;
}

.recommendation-card-title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  height: 70px;
}

.recommendation-card-title i {
  margin-right: 10px
}

.recommendation-card-infos {
  text-align: justify;
  padding: 15px;
  position: relative;
}

.recommendation-description {
  margin-bottom: 20px;
}

.recommendation-address {
  font-size: 10px;
  font-style: italic;
}

.btn-ghost {
  color: #FFFFFF;
  background-color: #393e41;
  opacity: 80%;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  transition: 0.3s ease;
  position: absolute;
  right: 0px;
  top: -35px;
}

.btn-ghost:hover {
  opacity: 100%;
}

.btn-ghost {
  color: #FFFFFF;
  background-color: #393e41;
  opacity: 80%;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  transition: 0.3s ease;
  position: absolute;
  right: 0px;
  top: -35px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.recommendation-card-loading {
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 2.5s shine linear infinite;

  img {
    opacity: 20%;
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-family: 'Raleway', sans-serif;
    color: darkslategrey;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    opacity: 20%;
  }

  p {
    color: darkslategrey;
    font-size: 14px;
    opacity: 20%;
  }

  button {
    opacity: 0%;
  }
}
