$tab-color1: #80d6ff;
$tab-color2: #fab57a;
$tab-color3: #D9534F;
$tab-color4: #edf798;
$tab-width: 24px;

.trip-tab {
  position: relative;
  overflow: hidden;
}

input[type="radio"] {
  position: absolute;
  right: 0;
  width: $tab-width;
  height: 25%;
  outline: $tab-width/2 solid;
  outline-offset: -$tab-width/2;
  margin: 0;
  padding: 0;
  z-index: 1;
  appearance: none;
  cursor: pointer;

  &:nth-of-type(1) {
    top: 10px;
    height: 50px;
    margin-right: 2px;
    outline: none;
    background-image: url('https://cdn-icons-png.flaticon.com/512/2086/2086028.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:nth-of-type(2) {
    top: 60px;
    height: 50px;
    margin-right: 2px;
    outline: none;
    background-image: url('https://cdn-icons-png.flaticon.com/512/4072/4072251.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:nth-of-type(3) {
    top: 110px;
    height: 50px;
    margin-right: 2px;
    outline: none;
    background-image: url('https://cdn-icons-png.flaticon.com/512/4072/4072061.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:nth-of-type(4) {
    top: 160px;
    height: 50px;
    margin-right: 2px;
    outline: none;
    background-image: url('https://cdn-icons-png.flaticon.com/512/2521/2521826.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:checked {

    + .trip-tab-content {
      transform: translateX(0%);
      transition: transform 0.2s ease 0.2s;
    }
  }
}

.trip-tab-content {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-flow: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
  transform: translateX(100%);

  &:nth-of-type(1) { background-color: $tab-color1;}
  &:nth-of-type(2) { background-color: $tab-color2;}
  &:nth-of-type(3) { background-color: $tab-color3;}
  &:nth-of-type(4) { background-color: $tab-color4;}

}

.trip-tab-recommendation-container {
  --bs-gutter-x: 6rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin: 30px auto;
}
