:root {
  --white: #F2EDD7;
  --black: #1C3334;
  --red: #D9534F;
  --blue: #4E6E81;
  --green: #376E6F;
}

h1 {
  color: var(--red);
  font-size: 30px;
}

h2 {
  color: var(--white);
  font-size: 25px;
}

h3 {
  color: var(--green);
  font-size: 20px;
}

p {
  color: var(--black);
  font-size: 15px;
}

body {
  background-color: var(--blue);
}

a {
  text-decoration: none;
  color: var(--white);
  opacity: 0.8;
}

a:hover {
  color: var(--white);
  opacity: 1;
}
