body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #D9534F
}

h2 {
  color: #1b4748;
}

h3 {
  color: #4E6E81;
}

h4 {
  color: #D9534F;
}

.header {
  border-bottom: 3px solid #D9534F;
}

.trip-photo {
  width: 100vh;
  height: 400px;
  background-size: cover;
  background-position: center;
  border: 2px solid #fff0db;
  border-radius: 20px;
}

.date-header {
  text-align: center;
  padding: 20px;
}

.flights-and-accommodation {
  padding: 20px;
  border: 2px solid #D9534F;
  border-radius: 20px;
}

.flights {
  border-bottom: 2px solid #4E6E81;
}

.events {
  padding: 20px;
  border: 2px solid #4E6E81;
  border-radius: 20px;
}

.note {
  color: #4E6E81;
  height: 82px;
  padding: 10px;
  width: 95%;
  border: dotted #4E6E81 1px;
  border-radius: 20px;
}
